{% load static %}
<link rel="stylesheet" href="{% static 'css/convert/base_convertation_styles.css' %}">

{% block content %}
    <h3>Вставьте ваше изображение для конвертации в Дисторт</h3>
    <form id="convert-form" method="post" action="{% url 'upload_document' %}" enctype="multipart/form-data">
        <h3>Загрузите изображение, которое будет сгенерировано в Дисторт</h3>
        
        <div class="container">
            <div class="textarea-container">
                <label for="document-title">Заголовок документа:</label>
                <input type="text" id="document-title" name="document_title">
                
                <input type="hidden" name="mode" value="image_distort">
                
                <label for="image-file">Загрузите документ:</label>
                <input type="file" id="image-file" name="file_content">
            </div>
        </div>

        {% csrf_token %}
        
        <div class="generate-button">
            <button type="submit">Сгенерировать Дисторт из Изображения</button>
        </div>
    </form>
    <a href="{% url 'base' %}">Основная страница</a>
{% endblock %}
